<div class="layout">
  <div class="sidebar">
    <div class="logo">
      <img src="assets/image.jpg" alt="Logo" />
      <h2>Garment Management</h2>
    </div>
    <nav>
      <ul>
        <li (click)="goTo('materials')">Materials</li>
        <li (click)="goTo('material-process')">Material Process</li>
        <li (click)="goTo('stitching-details')">Stitching Details</li>
        <li (click)="goTo('tailors')">Tailors</li>
        <li (click)="goTo('dispatch')">Dispatch</li>
        <li (click)="logout()">Logout</li>
      </ul>
    </nav>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
